<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832484022731-4g5k2b0ltsgqss7c46kicmg903ve781r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832484022731-4g5k2b0ltsgqss7c46kicmg903ve781r</string>
	<key>API_KEY</key>
	<string>AIzaSyBFbwDcArVvgzWL3CooIXFZqV21FGAmlQA</string>
	<key>GCM_SENDER_ID</key>
	<string>832484022731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DID.DiplomaProject</string>
	<key>PROJECT_ID</key>
	<string>diplomaproj-c57f5</string>
	<key>STORAGE_BUCKET</key>
	<string>diplomaproj-c57f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832484022731:ios:95ecdc920d7350c19b7e4e</string>
</dict>
</plist>